:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  padding: 10px;
  background-color: #000;
  color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }
}
/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
/* Alerts */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-align: center;
  margin: 0;
}
.alert.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

/* inputes */
.input-wrapper{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: .5rem;
  padding: 1rem 0;
}
.input{
  background-color: #000;
  border-radius: .5rem;
  padding: 1rem;
  border: none;
  color: #fff;
  margin: 1rem 0 0;
}

.input::placeholder{
  color:#505050 ;
}
.inputBtn{
  display: flex;
  background-color: #3c7bf5;
  color: #fff;
  border-radius: .5rem;
  border: none;
  transition: .2s ease-in-out all;
  padding: 1rem;
  margin: 1rem 0 0;
}

.inputBtn:hover{
  background-color: #004085;
}
